<div class="logo">
  <div class="main-logo">
    <a routerLink="/home">
      <img src="media/logo/10.jpg" alt="site-logo">
    </a>
  </div>

  <div class="site-brand">
    <div class="msg">gotch ya</div>
    <img src="media/nodes/9.jpg" alt="site-brand">
  </div>
</div>

<div class="burger-menu" id="burger-menu">
  <span class="burger-menu-icon">
    <span>Burger menu</span>
  </span>

  <nav class="main-menu">
    <ul class="menu">
      <li class="list-item has_dropdown">
        <a class="has_dropdown_link" routerLink="/buy" routerLinkActive="active">buy</a>
        <ul class="dropdown-menu">
          <li class="group-menu">
            <ul class="inner-submenu">
              <li class="leaf">
                <span class="nolink">Buy White Township homes</span>
              </li>
              <li class="leaf"><a routerLink="3" class="">Buy recent home</a></li>
              <li class="leaf"><a routerLink="3" class="">Buy all homes</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="list-item has_dropdown">
        <a class="has_dropdown_link" routerLink="/sell" routerLinkActive="active">sell</a>
        <ul class="dropdown-menu">
          <li class="group-menu">
            <ul class="inner-submenu">
              <li class="leaf">
                <span class="nolink">White Township homes for sale</span>
              </li>
              <li class="leaf"><a routerLink="3" class="">Homes for sale</a></li>
              <li class="leaf"><a routerLink="3" class="">For sale by owner</a></li>
              <li class="leaf"><a routerLink="3" class="">Foreclosures</a></li>
              <li class="leaf"><a routerLink="3" class="">Open houses</a></li>
              <li class="leaf"><a routerLink="3" class="">New construction</a></li>
              <li class="leaf"><a routerLink="3" class="">Coming soon</a></li>
              <li class="leaf"><a routerLink="3" class="">Recent home sales</a></li>
              <li class="leaf"><a routerLink="3" class="">All homes</a></li>
            </ul>
          </li>
          <li class="group-menu">
            <ul class="inner-submenu">
              <li class="leaf">
                <span class="nolink">Resources</span>
              </li>
              <li class="leaf"><a routerLink="3" class="">Buyers Guide</a></li>
              <li class="leaf"><a routerLink="3" class="">Foreclosure center</a></li>
              <li class="leaf"><a routerLink="3" class="">Real estate app</a></li>
              <li class="leaf"><a routerLink="3" class="">Find a buyer's agent</a></li>
              <li class="leaf"><a routerLink="3" class="">Change your address</a></li>
            </ul>
          </li>
          <li class="group-menu">
            <ul class="inner-submenu">
              <li class="leaf">
                <span class="nolink">Oakford rentals</span>
              </li>
              <li class="leaf"><a routerLink="3" class="">Houses for rent</a></li>
              <li class="leaf"><a routerLink="3" class="">Pet friendly rentals</a></li>
              <li class="leaf"><a routerLink="3" class="">Apartments for rent</a></li>
              <li class="leaf"><a routerLink="3" class="">All Rental listings</a></li>
              <li class="leaf"><a routerLink="3" class="">All rental buildings</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="list-item">
        <a routerLink="/rent" routerLinkActive="active">rent</a>
      </li>

      <li class="list-item">
        <a routerLink="/map" routerLinkActive="active">map</a>
      </li>

      <li class="list-item">
        <a routerLink="/video" routerLinkActive="active">video</a>
      </li>
    </ul>
  </nav>

  <nav class="user-not-logged user-menu">
    <ul class="menu">
      <li><a routerLink="/sign-in" routerLinkActive="active">sign in</a></li>
      <li><a routerLink="/log-in" routerLinkActive="active">log in</a></li>
    </ul>
  </nav>

  <nav class="user-logged user-menu">
    <ul class="menu">
      <li><a routerLink="/my-account" routerLinkActive="active">my account</a></li>
      <li><a routerLink="/log-out" routerLinkActive="active">log out</a></li>
    </ul>
  </nav>
</div>

<div class="load-status"><span></span></div>
