not-found {
  overflow: hidden;
}

.error-page {
  position: relative;
  height:calc(100vh - #{$header-h/2});
  margin-top: #{$header-h/2};
  background-color: transparent;
  background-image: url(../media/travolta/2.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}


.error {
  color: rgba($white, 0.6);
  font-size: 200px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
